---
layout: default
---

{% include navbar.html %}

<div class="wrapper">
  {% assign articles = site.articles | sort: 'date' | reverse %}
  {% for article in articles %}
  <div class="articlePrevs">
    <article class="articlePrev">
      <h1 class="articlePrev__title">{{article.title}} <span class="articlePrev__subtitle">par {{article.auteur}}</span></h1>
      <p class="articlePrev__p">{{article.description}}</p>
      <a href="{{article.url}}" class="articlePrev__a">Lire l'article</a>
    </article>
  </div>
  {% endfor %}
</div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>